.action_bar {
  border: 1px solid #000000;
  border-right: none;
  border-left: none;
}

progress {
  appearance: none;
  -webkit-appearance: none;
  background-color: #ffffff;
  height: 5px;
  display: block;
  width: 100%;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}